body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #023047;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 68px;
    
}

@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: "Cursed";
}

.cor {
    font-family: "Cursed";
    font-size: 90px;
    color: #219ebc;
    background-color: #fb8500;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;;
}

.btn {
    height: 45px;
    width:51px;
    border-radius: 5px;
    justify-content: space-around;
    margin-bottom: 69px;
    font-family: "Cursed";
    border: 2px solid #219ebc;
    color: #219ebc;
    background-color: #fb8500;
}

.home {
    margin-left: 25px;
}

.guest {
    margin-right: 25px;
}
